extends question-detail.pug

block content
    h3= answer.body
        div(class='py-3')
        a(class='btn btn-success' href=`/comments/${answer.id}/add` role='button') Add Comment
    if comments
        each comment in comments
            h4= comment.body
