extends answer-detail.pug

append head
  link(rel="stylesheet", href="/stylesheets/comment-form.css")
include utils.pug

block content
  +validationErrorSummary(errors)
  div(class="container")
    div(class="left-container")
    div(class="middle-container")
      form(action=`/answer/${answer.id}/add` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Comment', 'body', null , 'textarea')
        div(class='buttons')
          button(type='submit' class='#') Comment
          a#cancel-button(href=`/question/${answer.questionId}`) Cancel
    div(class='right-container')
