extends home.pug


include utils.pug

block content
  +validationErrorSummary(errors)
  form(action=`/comments/${comment.id}/edit` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field("Question", "title", comment.body, fieldType = 'textarea')
    //- +field("Topic", "topicId", question.topicId)
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Submit
      a(href='/home' class='btn btn-warning ml-2') Cancel
