doctype html
html(lang="en")
    head
        block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css")
        link(rel="stylesheet" href="/stylesheets/index.css")
        a(href="/home" id="home-btn") 
         title= "Carra"
       
    body
        nav#nav-header
            ul(id="logo-title-div")
              h1(class="carra-logo") Carra
              
            ul(id="home-button-div" href="/home")
            a(href="/home" id="home-btn") 
              i(class="fas fa-home")
            ul(id="topics-button-div")
              i(class="fa fa-users"): a(href='/')
            ul(id="answer-button-div")
              i(class="fas fa-keyboard"): a(href='/')
            ul(id="search-container")
              form(action="/search/" method="POST" class="search-form" id="search-form")
              div(class="search")
                input(type="text" name="text" class="search-bar" placeholder="Search")
                button(type="submit" name="search-form" class="search-bar-submit-button" value="Search"): a(id="search-btn" href='/topic/1/questions')
                  i(class="fa fa-search")
            if locals.authenticated
              ul(class="signed-in")
                i(id="welcome-username") Welcome to your feed, #{user.username}!
                button(type="submit" class="logout-button"): a(href='/') Log out

        block content

        block footer
            #footer
              div(id="footer-container")
                ul(id="developer-credits") Developers:
                  a(class="fab fa-github" href="https://github.com/GoodWillHunting11")
                    li(class="names") Aaron Short
                  a(class="fab fa-github" href="https://github.com/otmcz")
                    li(class="names") Chris Ramos
                  a(class="fab fa-github" href="https://github.com/Eric-Cortez")
                    li(class="names") Eric Cortez
                  a(class="fab fa-github" href="https://github.com/k-dodsonknapp")
                    li(class="names") Kenneth Dodson-Knapp
