doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body


        nav(class='#nav-container')
            div(id="search-container")
              form(action="/search" method="POST" class="search-box" id="search-box")
                input(type="text" name="search-bar" id="search-bar" placeholder="search for a question")
                input(type="submit" name="search-box" class="search-bar-submit-button" value="Search")
            a(href='/' class='#') Logout
            #navbarNav(class='#')
                ul(class='#')
                li(class='#'): a(class='#' href='/questions') Questions
            .container
              h2(class='py-4') #{title}
              block content
