

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet")
block content
  div.main 
    div.left-container
    div.center
      div.login
        h1= 'Carra'
        p A place to share knowledge and a better understanding of cars

        div.login-box
          h2 Login
          +validationErrorSummary(errors)
          form(action='/' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div.email
              +field('Email', 'email', user.email)
            div.password
              +field('Password', 'password', user.hashedPassword, 'password')
            div.login-button
                button#login-button(type='submit') Login
            div.login-button
                button#demo-button(type='submit') Demo
            div.sign-up-link
               a(href='/users/register') Sign up with email
    div.right-container      
    script(src='/javascripts/demouser.js')