
extends home.pug

append head
  link(rel="stylesheet" href="/stylesheets/question-form.css")

include utils.pug

block content
  +validationErrorSummary(errors)
  div(class='main-container')
    div(class='left-container')
    div(class='middle-container')
      div(class='content-container')
        form(action='/question/add' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          h2(id='header') What's on your mind?
          +field(null, "title", null, fieldType = 'textarea')
          div(class='select-container')
            div(class='topic-select-container')
              div(id='topic')
                h4 Topic
                select(name="topicId" required)
                  each topic in topicsId
                    option(value=topic.id)=topic.name
              div(id='cancel')
                button(type='submit' class='submit-btn') Add Question
                a(href='/home' class='cancel-btn') Cancel
    div(class='right-container')
