* {
    box-sizing: border-box;
    background-color: rgb(241,242,242);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 30px;
    background-color: white;
}

h5 {
    font-weight: bold;
    background-color: white;
}

.btn {
    font-size: 13px;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    border: 2px solid rgba(25, 26, 25, 0.7);
    border-radius: 6px;
    padding: 0.65px 4px;
    background-color: rgb(241,242,242);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 40px;
    height: 100%;
}

.left-container {
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
}

.middle-container {
    /* border: 1px solid rgba(222,224,225, 80%); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
  }


.right-container {
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
}

 .content-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(222,224,225, 0.8);
    border-radius: 4px;
    padding: 15px;
    min-width: 750px;
    max-width: 750px;
    background-color: white;
}

.topic-container {
    min-width: 200px;
    max-width: 200px;
    margin-right: 18%;
}

#topic-header{
    display: flex;
}

.topics h4 {
    line-height: 45px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 10px;
}


.comments {
    padding-top: 30px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
}

.comment-container {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.delete-button {
    border-radius: 6px;
    border: 2px solid rgba(25, 26, 25, 0.7);
    margin-right: 10px;
    color: black;
    font-size: 12.25px;
    top: 0px;
    background-color: rgb(241,242,242);
}

.delete-button:hover {
    box-shadow: 5px, black;
}

.author {
    font-size: 15px;
    font-style: italic;
    background-color: white;
}

.comment-details {
    line-height: 27px;
    background-color: white;
}

.comment-text {
    background-color:white;
}

.comment-btn {
    background-color: white;
}
