
* {
    box-sizing: border-box;
    background-color: rgb(241,242,242);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
}

h4 {
    background-color: white;
}

h3 {
    font-size: 15px;
    background-color: white;
    color: rgb(77, 75, 75);
    padding-top: 10%;
    padding-left: 20%;
}

h5 {
    font-weight: bold;
    background-color: white;
    color: rgb(77, 75, 75);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}

.left-container {
    margin-top: 80px;
    height: 40%;
    margin-left: 10%;
}

.middle-container {
    margin-top: 15%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
}

.content-container {
    border: 1px solid rgba(222,224,225, 0.8);
    border-radius: 8px;
    padding: 15px;
    background-color: white;
}

.right-container {
    margin-top: 80px;
}

textarea {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 3%;
    font-size: 20px;
    border-radius: 3px;
    resize: none;
    background-color: white;
}

.form-group {
    background-color: white;
    margin-top: 0px
    width: 100%;
}

label {
    background-color: white;
}

.answer-cancel-btn {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 22px;
    padding-top: 4%;
    padding-bottom: 8%;
    border-radius: 4px;
}

.button-div {
    background-color: white;
}

.anchor-div {
    background-color: white;
    padding-top: 2px;
}

#cancel {
    background-color: white;
    text-decoration: none;
    color: black;
}

#answer {
    border-radius: 4px;
}

#header {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
}

a {
     text-decoration: none;
}

div.anchor-div {
    padding-top: 5px;
    padding: 2% 12% 0;
    border-radius: 8px;
}

button#answer {
    margin-left: 3px;
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: gray;
    background-color:rgba(33,38,44,15%);
    border: 1px solid rgba(163,170,178,80%);
    width: 100%;
    font-size: 14px;
}

button#answer:hover {
    background-color:white;;
    color: gray;
}

ul,
p {
    background-color: white;
    float: left;
}

.error-li {
    color: black;
    background-color: white;
    float: left;
}

ul {
    padding-left: 10%;
}

a#carra-logo {
    margin: 0 0 10% 75%;
}