*{
    background-color: rgb(241,242,242);
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}


.left-container {
    margin-top: 80px;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 8px;
    /* grid-row-start: span 2; */
    height: 40%;
    background-color: white;
    margin-left: 10%;
}

.middle-container {
    /* border: 1px solid rgba(222,224,225, 80%); */
    margin-top: 80px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    border-radius: 4px;
    bottom: 100px;
}

.middle-container {
    /* border: 1px solid rgba(222,224,225, 80%); */
    margin-top: 80px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    border-radius: 4px;
    bottom: 100px;
}

.content-container {
    border: 1px solid rgba(222,224,225, 0.8);
    border-radius: 8px;
    padding: 4rem 6rem;
    background-color: white;
    padding-bottom: 12%;
}


.form-group {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 8% 15%;
    /* padding-bottom: 8%; */
}

.submit-button,
.cancel-button {
    margin: 0 2em;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

textarea#body {
    width: 30rem;
    height: 10rem;
    resize: none;
    border-radius: 8px;
}


label {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.submit-cancel-btns{
    display: flex;
    justify-content: center;
}

.py-4,
form,
.cancel-button,
.submit-cancel-btns,
label,
select,
textarea,
.form-group{
    background-color: white;
}

ul,
p, 
h3 {
    background-color: white;
}

.error-li {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0;
}