
h1 {
    color: rgb(185, 185, 185);
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(39, 75, 117);
}
p{
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}
.login-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.center {
    background-color: whitesmoke;
    border: 2px solid rgb(170, 142, 17);
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 75%;
    height: 50%;
}
body{
    background-color: rgb(39, 75, 117);
}

#nav-header {
    background-color: rgb(39,75,117);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

#signed-in {
   display: block;
}
#footer-container {
    position: fixed;
    left: 0;
    height:50px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-color: rgb(39, 75, 117);
}

#developer-credits {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    gap: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
}
 li {
    display: inline;
    justify-content: space-evenly;
    background-color: rgb(39, 75, 117);
    margin: 0px 5px;
}



a#home-btn {
 text-decoration: none;
 color: white;
 background-color: rgb(39, 75, 117);
}

nav {
    margin-top: 0;
    padding: 0;
}

i {
 background-color: rgb(39, 75, 117);
 color: white;
 margin-right: 20px;
}

ul {
  color: white;
  background-color: rgb(39, 75, 117);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.fab {
    background-color: rgb(39, 75, 117);
    color: white;
    margin-left: 10px;
}

.logout-button {
    margin-left: 30px;
}

.names {
    font-size: 15px;
}
