
#carra-logo {
    color: rgb(185, 185, 185);
    text-align: center;
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(39, 75, 117);
    text-decoration: none;
    font-weight: 600;
    margin-left: 10%;
}
p{
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}
.login-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.center {
    background-color: whitesmoke;
    border: 2px solid rgb(170, 142, 17);
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 75%;
    height: 50%;
}
body{
    background-color: rgb(39, 75, 117);
}

#nav-header {
    background-color: rgb(39,75,117);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 1;
}

#signed-in {
   display: block;
}
#footer-container {
    position: fixed;
    left: 0;
    height:50px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-color: rgb(39, 75, 117);
}

#developer-credits {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    gap: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
}
 li {
    display: inline;
    justify-content: space-evenly;
    background-color: rgb(39, 75, 117);
    margin: 0px 5px;
}



.nav-btn {
 text-decoration: none;
 color: white;
 background-color: rgb(39, 75, 117);
}

nav {
    margin-top: 0;
    padding: 0;
}

i {
 background-color: rgb(39, 75, 117);
 color: white;
 margin-right: 20px;
}

ul {
  color: white;
  background-color: rgb(39, 75, 117);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.fab {
    background-color: rgb(39, 75, 117);
    color: white;
    margin-left: 10px;
}


.names {
    font-size: 15px;
}
#logo-title-div {
    padding: 0;
    height: 10%;
}

.carra-logo {
    margin: 0;

}
h4.comment-text {
    width: 100%;
    display: flex;
    flex-direction: column;
}
p.author {
    display: flex;
    align-content: flex-start;
    padding-left: 10px;
}

div.left-container {
    /* background-color: none; */
    background-color: rgb(241,242,242);
    margin-top: 25%;
    border: none;
    /* z-index: 0; */
    /* position: static; */
    /* position: -webkit-sticky; */
    position: sticky;
}


.topic-table {
    border: none;
    /* position: -webkit-sticky;
    position: sticky; */
}
.topic-th{
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;

 }

input {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 2px;
  outline: 0;
}

.search-bar:hover, .search-bar:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.search-bar-submit-button {
  background-color: rgb(39, 75, 117);
  color: gray;
  font-size: 17px;
  border: 1px solid rgb(39, 75, 117);
  border-left: 2px;
  cursor: pointer;
}
.search {
  /* border-radius: 5px 0 0 5px; */
  background-color: rgb(39, 75, 117);
}

form#search-container {
    background-color: rgb(39, 75, 117);
}

a#search-btn {
    background-color: rgb(39, 75, 117);
}




.fa-sign-out {
    color: gray;
}

a#logout {
    text-decoration: none;
    color:rgb(163,170,178);
    background-color:transparent;
    border: none;
    font-size: 14px;
    margin: 3px;
    width: 100%;
}

.logout-button {
    margin-left: 30px;
}

button {
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
    color: gray;
    background-color:rgba(33,38,44,20%);
    border: 1px solid rgba(163,170,178,80%);
}


button:hover {
    background-color:rgba(255,255,255,70%);
}

a#logout:hover {
    color: white;
    text-align: center;
}
