
h1 {
    color: #555555;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.center {
    background-color: whitesmoke;
    border: 2px solid rgb(170, 142, 17);
    position: absolute;
    top: 25%;
    left: 12.5%;
    width: 75%;
    height: 50%;
}
body{
    background-color: rgb(39, 75, 117);
}

#nav-header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

#signed-in {
   display: block;
}
#footer-container {
    position: fixed;
    left: 0;
    height:50px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
}

#developer-credits {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
}
 li {
    display: inline;
    justify-content: space-evenly;
}
