* {
    background-color: rgb(241,242,242);
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,
body {
    height: 100%;
}

th {
    color: rgb(77, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
}
td {
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    /* height: 100px;
    bottom: 100px;
} */
footer {
     grid-column-start: span 3;
}
.middle-container {
  /* border: 1px solid rgba(222,224,225, 80%); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  bottom: 100px;
  margin-top: 25px;
}

.left-container {
  border-radius: 10px;
  border: 1px solid rgba(222,224,225, 80%);
  height: 300px;
  background-color: white;
  margin-left: 20%;
  position: sticky;
  top: 86px;
}

.right-container {
  margin-top: 25px;
  /* border: 1px solid rgba(222,224,225, 80%); */
  border-radius: 4px;
  grid-row-start: span 2;
  /* background-color: white; */
}


a {
    background-color: white;
    text-decoration: none;
    color: grey;
}

.spacer {
   height: 5px;
}



.py-3 {
    background-color: white;
}
.btn-ask-quest {
    background-color:white;
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
}

#user-img {
    margin-right: 10px;
    border-radius: 50%;
}

/* .post-question {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
    height: 75px;
} */

.questions-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.py-3 {
    display: flex;
    justify-content: flex-start;
    /* border: 1px red solid; */
    margin: 0px 0px;
}




.display-question {
  margin: 8px;
  color: #282829;
  font-weight: 600;
}


/*
div.display-answer {
 margin: 20px;
 padding: 15px;
 text-align: left;
 display: flex;
 justify-content: flex-end;
 background-color:white;

} */

.display-answer {
 /* border: 1px solid red; */
 background-color: white;
 padding: 7px;
}

.btn-success {
    border:1px solid gray;
    padding: 1px 1px;
    border-radius: 3px;
    margin-left: 3px;
    font-size: 13px;
}

button {
    border:1px solid white;
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    color: gray;
}

i {
    color: gray;
}
/* td:hover {
    background-color: rgb(241,242,242);
} */

div.topic-container {
    background-color:white;
    border-radius: 15px;
}

.topic-table {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.topic-th{
   border-radius: 10px;
   background-color: white;
}
tr.topic-row td {
 border: none;
 border-bottom: 1px solid rgba(222,224,225, 80%);
}

img {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.7);
}

h3 {
    background-color: white;
    margin: 10px 10px;
    font-size: 12px;
    font-weight: 600;
}

.username-quest {
    display: flex;
    background-color: white;
}

#delete-btn {
    border: 1px solid red;
}



.delete-button {
    display: flex;
    order: -1;
    align-self: end;
    flex-direction: column;
}