* {
    background-color: rgb(241,242,242);
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html, 
body {
    height: 100%;
}

th {
    color: rgb(77, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
}
td {
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
    background-color: white;
    padding: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}
footer {
     grid-column-start: span 3;
}
.middle-container {
  /* border: 1px solid rgba(222,224,225, 80%); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}

.left-container {
  border: 1px solid rgba(222,224,225, 80%);
  border-radius: 4px;
  grid-row-start: span 2;
}

.right-container {
  border: 1px solid rgba(222,224,225, 80%);
  border-radius: 4px;
  grid-row-start: span 2;
}


a {
    background-color: white;
    text-decoration: none;
    color: grey;
}

.spacer {
   height: 5px;
}

.btn-ask-quest {
    background-color:white;
    border: 1px solid rgba(222,224,225, 80%);
    padding: 15px;
    border-radius: 4px;
}

.py-3 {
    background-color: white;
}

.post-question {
    display: flex;
    justify-content: center;
    background-color: rgb(241,242,242);
}

.questions-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.py-3 {
    display: flex;
    justify-content: center;

}



/* .display-question {
    display: flex;
    justify-content: center;
} */
