* {
    box-sizing: border-box;
    background-color: rgb(241,242,242);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
}

h4 {
    background-color: white;
}

h3 {
    font-size: 25px;
    background-color: white;
    color: rgb(77, 75, 75);
}

h5 {
    font-weight: bold;
    background-color: white;
    color: rgb(77, 75, 75);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}

.left-container {
    margin-top: 80px;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 8px;
    /* grid-row-start: span 2; */
    height: 40%;
    background-color: white;
    margin-left: 10%;
    z-index: -1;
}

.middle-container {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
}

.content-container {
    border: 1px solid rgba(222,224,225, 0.8);
    border-radius: 8px;
    padding: 5% 0 0;
    margin: 10% 5% 10% 2%;
    background-color: white;
}

.right-container {
    margin-top: 80px;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 4px;
    background-color: white;
    z-index: -1;
}

textarea {
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 5%;
    font-size: 20px;
    border-radius: 3px;
    resize: none;
    background-color: white;
}

.select-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    background-color: white;
}

.topic-select-container {
    margin-top: 6%;
    margin-bottom: 9%;
    display: flex;
    line-height: 25px;
    background-color: white;
}

#cancel {
    /* display: flex; */
    /* justify-content: flex-end; */
    padding-top: 24px;
    background-color: white;
    margin-left: 210px;
}

.question-cancel-btn {
    margin-top: 3%;
    /* margin-right: 41%; */
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 5%;
    margin-left: 40px;
    /* bottom: 0px; */
    padding-top: 20px;
}

.select {
    padding-right: 0px;
    background-color: white;
}

#header {
    background-color: white;
    display: flex;
    justify-content: center;
}

#topic {
    background-color: white;
}

form {
    background-color: white;
}

.form-group {
    background-color: white;
}

.submit-btn {
    margin-right: 8px;
    border-radius: 4px;
    font-size: 13px;
}

.cancel-btn {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

select {
    border-radius: 3px;
}

a {
    text-decoration: none;
}

.submit-btn {
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    color: gray;
    background-color:rgba(33,38,44,20%);
    border: 1px solid rgba(163,170,178,80%);
}

a.cancel-btn {
 margin-left: 4px;
}

.submit-btn:hover {
    background-color:rgba(255,255,255,70%);
}

ul,
p {
    background-color: white;
}

.error-li {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0;
}
