
* {
    box-sizing: border-box;
    background-color: rgb(241,242,242);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
}

h4 {
    background-color: white;
    /* display: flex;
    justify-content: center; */
}

h3 {
    font-size: 25px;
    background-color: white;
    color: rgb(77, 75, 75);
}

h5 {
    font-weight: bold;
    background-color: white;
    color: rgb(77, 75, 75);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}

.left-container {
    margin-top: 80px;
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 8px;
    /* grid-row-start: span 2; */
    height: 40%;
    background-color: white;
    margin-left: 10%;
  }


.middle-container {
    /* border: 1px solid rgba(222,224,225, 80%); */
    margin-top: 80px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    border-radius: 4px;
    bottom: 100px;
  }

.content-container {
    border: 1px solid rgba(222,224,225, 0.8);
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    padding-bottom: 12%;
}

.right-container {
    margin-top: 80px;
    /* border: 1px solid rgba(222,224,225, 80%); */
    /* border-radius: 4px; */
    /* background-color: white; */
}

#question-header {
    font-size: 32px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top:15px;
    padding-left:10%;
    padding-right:10%;
}

.answer-author {
    padding-left:10%;
    padding-right:10%;
    padding-top:2%;
    padding-bottom: 1.25%;
}

#answer-text{
    font-weight: 500;
    background-color: white;
    padding-left:10%;
    padding-right: 10%;
    font-size: 20px;
    /* padding-top: 20px; */
    padding-bottom: 1.5%;
}

#comment-id {
    padding-left: 18%;
    padding-right: 14%;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 2%;

}

.button-div {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    background-color: white;
    padding-top: 0px;
    padding-bottom: 4.5%;
    padding-left: 2%;
    /* padding-left:20px; */
    gap:2%;
}

.edit-answer-div {
    background-color: white;
}

#edit-answer {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.commentDiv {
    background-color: white;
}

#adds-comment {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid rgba(0,0,0, 0.4);
    padding: 0px 4px;
    border-radius: 8px;
}

#question-id {
    /* padding-left:5px; */
    font-weight: 400;
    font-size:30px;
}

#answer-id {
    font-weight: 400;
    font-size: 15px;
    padding-top:2%;
    /* padding-left:5%; */
}

.answerDiv {
    /* padding-top:20px; */
    background-color: white;
}

.answer-line {
    border: solid 0.1px rgba(5, 5, 5, 0.2);
}

#question-author {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.comment-author {
    padding-top: 3%;
    padding-left:18%;
    font-size: 15px;
}

#line {
    display: flex;
    justify-content: center;
    background-color: white;
}

.seperate-answer-line {
    border:1px solid rgba(5, 5, 5, 0.2);
    width: 90%;
}

.comment-section {
    background-color: white;
}

img {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.7);
}
h4.answer-author {
  padding: 6px 5px;
}

.answerImgDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: white;
    padding-left: 10%;
    margin-top: 5px;
}

.edit-delete-comment-div {
    display: flex;
    background-color: white;
    gap: 10px;
}

.delete-button {
    background-color: white;
    padding-left: 19%;
    padding-bottom: 6%;
    font-weight: 600;
    padding-top: 0.55%;
}

.edit-comment-btn {
    background-color: white;
    text-decoration: none;
    color: gray;
    font-size: 13px;
    padding-top: 1%;
    padding-left: 1%;
    font-weight: 600;
}

.answer-button {
    padding-top: 2%;
    background-color: white;
    text-decoration: none;
    color: gray;
    padding-right: 10%;
}

.author-div {
    background-color: white;
    display: flex;
    justify-content: space-between;
}
