* {
    background-color: rgb(241,242,242);
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,
body {
    height: 100%;
}

h3 {
    font-size: 25px;
    background-color: white;
}

h5 {
    font-weight: bold;
    background-color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40fr 1fr;
    column-gap: 40px;
    height: 100%;
}


.left-container {
    margin-top: 100px;
     /* border: 1px solid rgba(222,224,225, 80%);  */
    border-radius: 4px;
    margin-left: 20%;
    position: sticky;
    top: 500px;
    z-index: 0;
} 

nav {
    z-index: 1;
}
.middle-container {
     /* border: 1px solid rgba(222,224,225, 80%);  */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 100px;
  } 


 .right-container {
    /* border: 1px solid rgba(222,224,225, 80%);  */
    border-radius: 4px;
    margin-top: 100px;
} 


th {
    color: rgb(77, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}



td {
    border: 1px solid rgba(222,224,225, 80%);
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

p {
     background-color: white;
}

div.topic-container {
    background-color:white;
    border-radius: 15px;
}

.topic-table {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.topic-th{
   border-radius: 10px;
   background-color: white;
   font-size: 20px;
}
tr.topic-row td {
 border: none;
 border-bottom: 1px solid rgba(222,224,225, 80%);
}

.topic-link {
    background-color: white;
}
a {
    color: rgb(128,128,128);
    text-decoration: none;
}

